{% extends "checkout/checkout.html" %}
{% load i18n %}

{% block title %}
    {% trans "Payment details" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' with step=3 %}
{% endblock %}

{% block checkout_title %}Hình thức thanh toán{% endblock %}


{% block order_contents %}{% endblock %}
{% block shipping_address %}{% endblock %}
{% block shipping_method %}{% endblock %}
{% block payment_method %}{% endblock %}

{% block payment_details %}
    {% block payment_details_content %}
        <p>Chúng tôi nhận thanh toán bằng những hình thức dưới đây:
        <ol class="list-unstyled">
           <li><span class="glyphicon glyphicon-ok"></span> Chuyển khoản qua ngân hàng</li>
           <li><span class="glyphicon glyphicon-ok"></span> Thanh toán tiền mặt khi nhận hàng (COD)</li>
           <li><span class="glyphicon glyphicon-ok"></span> Mua hàng trực tiếp tại cửa hàng của chúng tôi</li> 
        </ol>
        <a id="view_preview" href="{% url 'checkout:preview' %}" class="btn btn-primary btn-lg">{% trans "Continue" %}</a>

    {% endblock payment_details_content %}
{% endblock payment_details %}
