{% load i18n %}
{% load currency_filters %}
{% load category_tags %}

<div id="top_page" class="navbar navbar-default bg-faded navbar-fixed-top accounts" style="background-color:white;max-width:1280px;margin:0 auto">
    {# This is used in mobile view #}
    <div class="navbar-header">
        <a id="responsive-btn" class="btn btn-default navbar-toggle collapsed" data-toggle="collapse" data-target=".account-collapse" style="border:none">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="navbar-brand" href="/">Khô Nam Bộ</a>

    </div>

    <div class="navbar-collapse account-collapse collapse">
        <div class="container-fluid">
            {% if LANGUAGES|length > 1 %}
                <form id="language_selector" class="navbar-left navbar-form" action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ language_neutral_url_path }}" />
                    <div class="form-group">
                        <select name="language" class="form-control">
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE%} selected="selected"{% endif %}>
                                    {{ language.name_local }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <button class="btn btn-default" type="submit" data-loading-text="{% trans 'Submitting...' %}">{% trans "Go" %}</button>
                </form>
            {% endif %}
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form method="get" action="{% url 'search:search' %}" class="navbar-form" style="border:none">
                        <div class="form-group">
                            {{ search_form.q }}
                        </div>
                    </form>
                </li>
                <li><a href="/contact-info"><i class="icon-phone"></i> Liên hệ</a></li>
                {% if user.is_authenticated %}
                    <li>
                        {% if num_unread_notifications > 0 %}
                            {# If user has new notifications - we change account link to go to inbox #}
                            <a href="{% url 'customer:notifications-inbox' %}">
                                <i class="icon-user"></i>
                                {% trans "Account" %}
                                <span class="label label-important">{{ num_unread_notifications }}</span>
                            </a>
                        {% else %}
                            <a href="{% url 'customer:summary' %}"><i class="icon-user"></i> {% trans "Account" %}</a>
                        {% endif %}
                    </li>
                    {% if user.is_staff or perms.partner.dashboard_access %}
                        <li><a href="{% url 'dashboard:index' %}"><i class="icon-list-ul"></i> {% trans "Dashboard" %}</a></li>
                    {% endif %}
                    <li><a id="logout_link" href="{% url 'customer:logout' %}"><i class="icon-signout" hidden></i> {% trans "Logout" %}</a></li>
                {% else %}
                    <li><a id="login_link" href="{% url 'customer:login' %}"><i class="icon-signin" hidden></i> {% trans "Login or register" %}</a></li>
                {% endif %}
            </ul>
            <ul id="browse" class="nav navbar-nav hidden-lg hidden-md hidden-sm">
                <li class="dropdown active {% if expand_dropdown %}open{% endif %}">
                    <a href="#" class="dropdown-toggle" style="background-color:white"{% if not expand_dropdown %} data-toggle="dropdown"{% endif %}>
                        {% trans "Xem catalog" %}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" data-navigation="dropdown-menu">
                        {% category_tree depth=2 as tree_categories %}
                        <!--li><a tabindex="-1" href="{% url 'catalogue:index' %}">{% trans "All products" %}</a></li-->

                        {% if tree_categories %}
                            <li class="divider"></li>
                            <a href="{% url 'catalogue:index' %}" ><button class="btn btn-default" style="margin:8px">{% trans "All products" %}</button></a>

                            {% for tree_category, info in tree_categories %}
                                {% if info.has_children %}
                                    <li class="dropdown-submenu">
                                        <!--a tabindex="-1" href="{{ tree_category.get_absolute_url }}">{{ tree_category.name }}</a-->
                                        <a href="{{ tree_category.get_absolute_url }}"><button class="btn btn-default" style="margin:8px">{{ tree_category.name }}</button></a>
                                        <ul class="dropdown-menu">
                                        {% else %}
                                            <!--li><a tabindex="-1" href="{{ tree_category.get_absolute_url }}">{{ tree_category.name }}</a></li-->
                                            <a href="{{ tree_category.get_absolute_url }}"><button class="btn btn-default" style="margin:8px">{{ tree_category.name }}</button></a>
                                        {% endif %}

                                        {% for close in info.num_to_close %}
                                            </ul></li>
                                        {% endfor %}
                            {% endfor %}
                            {% block nav_dropdown_extra_items %}
                            <!--li><a href="{% url 'offer:list' %}">{% trans "Offers" %}</a></li-->

                            <a href="{% url 'offer:list' %}"><button  class="btn btn-default" style="margin:8px">{% trans "Offers" %}</button></a>
                            <a href="/basket"><button  class="btn btn-default" style="margin:8px">{% trans "Basket" %}</button></a>
                        {% endblock %}
                        {% endif %}

                    </ul>
                </li>
                {% block nav_extra %}
                {% endblock %}
            </ul>
        </div>
    </div>
</div>
