{% load i18n %}
{% load product_tags %}

{% block content %}
<section class="REMOVEwell REMOVEwell-blank">
    <div {% if promotion.name != ' '%} class="sub-header" {% else %} {% endif %}>
        <h3>{{ promotion.name }}</h3>
    </div>
    <div class="description_text">
    {{ promotion.description|safe }}
    </div>
    <ul class="row">
        {% for product in products %}
        <li class="col-xs-12 col-sm-4 col-md-3 col-lg-3">{% render_product product %}</li>
        {% endfor %}
    </ul>

    {% if block.link_url %}
        <a href="{{ block.link_url }}">{% trans "See more" %}</a>
    {% endif %}
</section>
{% endblock %}
