{% extends "layout_2_col.html" %}
{% load i18n %}
{% load basket_tags %}
{% load promotion_tags %}
{% load category_tags %}
{% load product_tags %}

{% block navigation %}
    {% include "partials/nav_primary.html" with expand_dropdown=0 %}
{% endblock %}

{% block header %}{% endblock %}

{% block column_left %}

    {% category_tree as tree_categories %}
    {% if tree_categories %}
        <div class="REMOVEside_categories hidden-xs">

            <ul class="nav">
                <li><a href="/basket">Xem giỏ hàng<span class="glyphicon glyphicon-shopping-cart" style="margin-left:12px"></span> </a></li>
                <li><a href="/checkout">Thanh toán<span class="glyphicon glyphicon-ok-sign" style="margin-left:12px"></span></a></li>
                {% for tree_category, info in tree_categories %}
                    <li>
                        <a href="{{ tree_category.get_absolute_url }}">
                            {% if tree_category.pk == category.pk %}
                                <strong>{{ tree_category.name}}</strong>
                            {% else %}
                                {{ tree_category.name}}
                            {% endif %}
                        </a>

                        {% if info.has_children %}<ul>{% else %}</li>{% endif %}
                        {% for n in info.num_to_close %}
                            </ul></li>
                        {% endfor %}
                {% endfor %}
                <li><a href="/catalogue">Xem tất cả</a></li>
            </ul>
        </div>
    {% endif %}
    {% if has_facets %}
        <h4>{% trans "Refine by" %}</h4>
        <div class="side_categories">
            {% for field, data in facet_data.items %}
                {% if data.results %}
                    {% include 'search/partials/facet.html' with name=data.name items=data.results %}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block content %}
{% endblock content %}
